@font-face {
  font-family: LibreBold;
  src: url(./font/LibreBaskerville-Bold.ttf);
}

@font-face {
  font-family: LibreRegular;
  src: url(./font/LibreBaskerville-Regular.ttf);
}
 /* add variable-- */
:root {
  /* colors */
  --color-gray: #DADAD8;
  --color-light-blue: #0098F1;
  --color-primary: #002E83;
  --color-secundary: #006BDB;
  --color-white: #ffff;
  --gradient-portafolio: linear-gradient(90deg, var(--color-light-blue), #273D65);
  --font-family-title: 'LibreBold', Helvetica, Arial, sans-serif;
  --font-family-base: 'LibreRegular', Helvetica, Arial, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1 {
  font-family: var(--font-family-title);
  font-size: 2.5rem;
  font-weight: 800;
}

h2 {
  font-family: var(--font-family-title);
  font-size: 1.8rem;
  font-weight: bold;
}

p {
  font-family: var(--font-family-base);
  font-size: 1.3rem;
}

header {
  height: 79vh;
  margin-bottom: 3rem;
}

/*estilos perfil*/
section.flex-container {
  background-image: url(../resources/img/foto-perfil.jpg);
  background-position: top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* css specificity :nombrar las clases de manera muy detallada 
para seleccionar y modificar solo lo necesario y evitar errores*/
/* profile styles */
.flex-container .profile .profile-title {
  color: var(--color-white);
  display: flex;
  font-size: 4rem;
  height: 4vh;
  justify-content: center;
  text-shadow: -1px -1px 1px #333, 1px -1px 1px #333, -1px 1px 1px #333, 1px 1px 1px #333;
  width: 86vw;
}

.flex-container .profile .profile-title-two {
  color: var(--color-white);
  display: flex;
  font-size: 4rem;
  justify-content: flex-end;
  text-shadow: -1px -1px 1px #333, 1px -1px 1px #333, -1px 1px 1px #333, 1px 1px 1px #333;
  width: 77vw;
}

.flex-container .profile .profile-line {
  display: flex;
  background-color: var(--color-white);
  height: 1vh;
  margin-left: 21rem;
  text-shadow: -1px -1px 1px #333, 1px -1px 1px #333, -1px 1px 1px #333, 1px 1px 1px #333;
  width: 51rem;
}

.profile .profile_subtitle {
  color: var(--color-white);
  display: flex;
  font-size: 2rem;
  justify-content: space-around;
  margin-left: 23rem;
  text-shadow: -1px -1px 1px #333, 1px -1px 1px #333, -1px 1px 1px #333, 1px 1px 1px #333;
}

.profile .profile_text {
  color: var(--color-white);
  justify-content: flex-end;
  margin-left: 29rem;
  text-align: center;
  text-align: center;
  text-shadow: -1px -1px 1px #333, 1px -1px 1px #333, -1px 1px 1px #333, 1px 1px 1px #333;
  width: 43vw;
}

/* Skills Styles*/
.container-skills {
  margin-top: 3rem;
}

.title-skills {
  color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 2px 2px 5px var(--color-white);
  
}

.skills {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.circular-progress {
  margin: auto;
  position: relative;
}

.circular-progress,
.circular-progress:before,
.circular-progress:after {
  border-radius: 50%;
  height: 12rem;
  padding: 20px 40px;
  width: 12rem;
}

.circular-progress:before,
.circular-progress:after {
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
}

.circular-progress:before {
  box-sizing: border-box;
  font-size: 1.8rem;
  line-height: 8rem;
  padding: 0.5em;
 
}

.circular-progress:after {
  line-height: 13rem;
}

.html5 {
  background: linear-gradient(0deg, var(--color-primary) 50%, var(--color-gray) 50%);
  transform: rotate(162deg);
}

.html5:before,
.html5:after {
  color: var(--color-primary);
}

.html5:before {
  content: "html5";
  background: var(--color-white) content-box;
  text-transform: uppercase;
  transform: rotate(198deg);
}

.html5:after {
  background: linear-gradient(transparent 50%, var(--color-white) 50%);
  content: "90%";
  transform: scale(1.1) rotate(198deg);
}

.css3 {
  background: linear-gradient(0deg, var(--color-light-blue) 50%, var(--color-gray) 50%);
  transform: rotate(153deg);
}

.css3:before,
.css3:after {
  color: var(--color-light-blue);
}

.css3:before {
  background: var(--color-white) content-box;
  content: "css3";
  text-transform: uppercase;
  transform: rotate(207deg);
}

.css3:after {
  content: "85%";
  background: linear-gradient(transparent 50%, var(--color-white) 50%);
  transform: scale(1.1) rotate(209deg);
}

.jscript {
  background: linear-gradient(-44deg, var(--color-primary) 50%, var(--color-gray) 50%);
  transform: rotate(102.6deg);
}

.jscript:before,
.jscript:after {
  color: var(--color-primary);
}

.jscript:before {
  content: "js";
  background: var(--color-white) content-box;
  text-transform: uppercase;
  transform: rotate(256deg);
  
}

.jscript:after {
  background: linear-gradient(transparent 50%, var(--color-white) 50%);
  content: "37%";
  transform: scale(1.1) rotate(258deg);
}

.github {
  background: linear-gradient(0deg, var(--color-light-blue) 50%, var(--color-gray) 50%);
  transform: rotate(153deg);
}

.github:before,
.github:after {
  color: var(--color-light-blue);
}

.github:before {
  background: var(--color-white) content-box;
  content: "Github";
  text-transform: uppercase;
  transform: rotate(208deg);
}

.github:after {
  content: "85%";
  background: linear-gradient(transparent 50%, var(--color-white) 50%);
  transform: scale(1.1) rotate(207deg);
}

.container-soft-skill {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.personal {
  color: var(--color-light-blue);
  font-family: var(--font-family-title);
  font-size: 2.5rem;
}

.personal b {
  overflow: hidden;
  position: relative;
  height: 8vh;
  top: 50px;
}

.skill-person-title {
  text-align: center;
  padding: 7.5px;
}

.personal .innerpersonal {
  color: var(--color-primary);
  display: inline-block;
  position: relative;
  /*animation*/
  animation: move 5s;
  -moz-animation: move 5s;
  -ms-animation: move 5s;
  -o-animation: move 5s;
  -webkit-animation: move 5s;
  /*animation-iteration-count*/
  animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  /*animation-delay*/
  animation-delay: 1s;
  -moz-animation-delay: 1s;
  -ms-animation-delay: 1s;
  -o-animation-delay: 1s;
  -webkit-animation-delay: 1s;
}

@keyframes move {
  0% {
    top: 0px;
  }

  20% {
    top: -50px;
  }

  40% {
    top: -100px;
  }

  60% {
    top: -150px;
  }

  80% {
    top: -200px;
  }
}

@-webkit-keyframes move {
  0% {
    top: 0px;
  }

  20% {
    top: -50px;
  }

  40% {
    top: -100px;
  }

  60% {
    top: -150px;
  }

  80% {
    top: -200px;
  }
}

@-moz-keyframes move {
  0% {
    top: 0px;
  }

  20% {
    top: -50px;
  }

  40% {
    top: -100px;
  }

  60% {
    top: -150px;
  }

  80% {
    top: -200px;
  }
}

@-o-keyframes move {
  0% {
    top: 0px;
  }

  20% {
    top: -50px;
  }

  40% {
    top: -100px;
  }

  60% {
    top: -150px;
  }

  80% {
    top: -200px;
  }
}

@keyframes move {
  0% {
    top: 0px;
  }

  20% {
    top: -50px;
  }

  40% {
    top: -100px;
  }

  60% {
    top: -150px;
  }

  80% {
    top: -200px;
  }
}

/*projects style*/
section.projects {
  background-color: var(--color-primary);
  height: 100vh;
}
.card-projects {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.body-card {
  background-color: var(--color-white);
  border-radius: 2%;
  display: flex;
  align-content: center;
  flex-direction: column;
  padding: 20px;
  width: 242px;
}

.title-projets {
  color: var(--color-white);
  padding-top: 1.5rem;
  text-align: center;
}
.logo-card {
  height: 25vh;
  margin-left: 10px;
  object-fit:contain;
  width: 90%;
}

.title-card {
  color: var(--color-primary);
  display: flex;
  height: 1vh;
  justify-content: center;
  margin-top: 4%;
}

.description-card {
  text-align: center;
}

.lahaus{
  filter: contrast(190%);
}

.btn-card {
  background-color: var(--color-light-blue);
  border: none;
  border-bottom-style: solid;
  color: var(--color-white);
  cursor: pointer;
  border-radius: 30px;
  flex: 1 1 auto;
  font-family: var(--font-family-base);
  font-size: 1.2rem;
  padding: 11px 61px;
} 

.dropdown-content {
  border-radius: 10%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: none;
  font-family: var(--font-family-base);
  position: absolute;
  text-align: center;
  width: 182px;
}

.dropdown-content.unad{
  width: 242px;
  left: 109px;
}

.dropdown-content.fall{
  width: 242px;
  left: 554px;
}

.dropdown-content.art{
  width: 242px;
  left: 998px;
}

.dropdown-content a {
  background-color: var(--color-white);
  color: var(--color-light-blue);
  display: block;
  font-family: var(--font-family-base);
  padding: 12px 16px;
  text-decoration: none;
  
}

.dropdown-content a:hover {
  background-color: var(--color-gray);
  color: var(--color-primary);
  cursor: pointer;
  font-size: 1.2rem;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: var(--color-light-blue);
}

.logo-footer {
  align-content:flex-end;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

footer section {
  align-content:flex-end;
  color: var(--color-primary);
  display: flex;
  font-family: var(--font-family-base);
  font-size: 0.7rem;
  flex-direction: column;
  text-align: center;
  margin-top: 40px;
  white-space: pre;
}

@media (max-width:900px) {
  section.flex-container {
    align-items: center;
    background-image: url(../resources/img/foto-perfil-mb.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    height: 80vh;
  }

  .flex-container .profile .profile-title {
    font-size: 2rem;
    height: auto;
    justify-content: center;
    width: auto;
  }

  .flex-container .profile .profile-title-two {
    font-size: 2rem;
    justify-content: center;
    width: auto;
  }

  .flex-container .profile .profile-line {
    display: flex;
    margin-left: auto;
    width: 100%;
  }

  .profile .profile_subtitle {
    margin-left: auto;
    text-align: center;
  }


  .profile .profile_text {
    margin-left: auto;
    width: auto;
    
  }

  .container-soft-skill {
    flex-direction: column;
    text-align: center;
    
  }

  section.projects {
    background-color: var(--color-primary);
    height: 204vh;
    margin-top: 15%;
  }

  .card-projects {
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .body-card {
    align-content: center;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    margin: 20%;
    width: 224px;
  }

  .description-card {
    color: var(--color-secundary);
    text-align: center;
    margin-top: 1rem;
  }

  .title-card {
    color: var(--color-primary);
    height: 1vh;
    margin-top: 4%;
  }
  section.projects {
    margin-top: 25%;
    height: 228vh;}
    
  .dropdown-content.unad {
    width: 242.2px;
    left: 8%;
  }

  .dropdown-content.fall {
      width: 224px;
      left: 68px;}
  
  .dropdown-content.art{
      width: 224px;
      left: 68px;
  }
  
    footer section {
      font-size: 0.5rem;
    }
}
